body {
  margin: 0;
  padding: 0;
  text-align:center;
  background-color:rgb(17, 26, 26);
  color:lightgrey;
}

input{
  background-color:darkslategrey;
  border-color:darkslategrey;
}

.green{
  color:green;
}

.red{
  color:red;
}
.blue{
  color:blue;
}
.orange{
  color:orange;
}
.purple{
  color:purple;
}
.mainpage{
  display:flex;
  flex-direction: column;
}

img.green{
  background-color:green;
  border-radius:50% 50% 50% 50%;
  border-style:inset;
  border-width:4px;
  border-color:green;
}

img.red{
  background-color:red;
  border-radius:50% 50% 50% 50%;
  border-style:inset;
  border-width:4px;
  border-color:red;
}
img.blue{
  background-color:blue;
  border-radius:50% 50% 50% 50%;
  border-style:inset;
  border-width:4px;
  border-color:blue;
}
img.orange{
  background-color:orange;
  border-radius:50% 50% 50% 50%;
  border-style:inset;
  border-width:4px;
  border-color:orange;
}
img.purple{
  background-color:purple;
  border-radius:50% 50% 50% 50%;
  border-style:inset;
  border-width:4px;
  border-color:purple;
}

iframe{
  border:none;
  width:100%;
  margin:0;
  height:100vh;
}

p{
  font-size:1.2em;
}
h1{
  font-size:2em;
}
h2{
  font-size:1.7em;
}
h3{
  font-size: 1.4em;
}