body {
  margin: 0;
  padding: 0;
  display:flex;
  flex-direction: column;
  text-align:center;
  background-color:#0f101c;
  color:cornsilk;
}

input{
  background-color:purple;
  border-color:purple;
}

iframe{
  border:none;
  width:100%;
  margin:0;
  height:100vh;
}