<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <form method="POST" action="">
    <label for="area">Target ZIP code:</label>
    <input id="area" type="text" name="area" value="50200">
    <input type="submit">
  </form>
</body>
<script src="/scripts/main.js"></script>
</html>